    .header{
        height: 11vh;
        width: 100%;
        position: fixed;
        z-index: 50;
        padding: 1rem 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateY(0);
        transition: transform 0.3s ease-in;
        filter: brightness(5);
        @include media("<=800px") {
            padding: 1rem 2rem;
        }
        &_logo {
            a {
                text-decoration: none;
                color: $text-color;
                h1 {
                    font-size: 1.9rem;
                    font-family: "Montserrat";
                    letter-spacing: 5px;
                    font-weight: 500;
                    position: relative;
                    &::after {
                        content: 'group';
                        position: absolute;
                        font-size: 0.9rem;
                        bottom: -0.7rem;
                        right: -1.5rem;
                        font-weight: 100;
                    }
                    span {
                        &:last-child {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        &:nth-child(1) {
                            clip-path: inset(0 0 52% 0);
                        }
                        &:nth-child(2) {
                            clip-path: inset(58% 0 0 0);
                        }
                    }
                }
            }
        }
        .header_list {
            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                li {
                    margin: 0 1rem;
                    a {
                        position: relative;
                        text-decoration: none;
                        font-family: "Montserrat";
                        color: #333333;
                        letter-spacing: 1px;
                        @include media ("<=1366px") {
                            display: none;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            background:rgb(105, 105, 105);
                            width: 0;
                            height: 2px;
                            right: 0;
                            display: block;
                            transition: 0.4s ease-in;
                        }
                        &:hover {
                            &::after {
                                width: 100%;
                                left: 0;
                                background-color: blackrgb(105, 105, 105);
                            }
                        }
                    }
                    .button {
                        border: none;
                        outline: none;
                        background-color: transparent;
                        position: relative;
                        display: flex;
                        width: 1.7rem;
                        height: 1.7rem;
                        align-items: center;
                        margin-left: 1rem;
                        cursor: pointer;
                        
                        &:hover {
                            .one {
                                transform: rotate(31deg);
                                transition: 0.2s ease-in;
                            }
                            .two {
                                transform: rotate(-31deg);
                                transition: 0.2s ease-in;
                            }
                        }
                            span {
                                border-radius: 1rem;
                                width: inherit;
                                height: 3px;
                                top: 0;
                                margin-top: 0.2rem;
                                left: 0;
                                position: absolute;
                                background-color: #464646da;
                                &:last-child{
                                    margin: 1.2rem 0;
                                }
                            }
                    }
                }
            }
        }
    }
    .header.shadow {
        transition: 0.2s ease-in-out;
        a {
            color: black;
        }
        .header_list {
            a {
                color: black;
            }
            .button {
                span {
                    background-color: black;
                }
            }
        }
    }
    .header.hidden {
        transform: translateY(-110%);
    }
